/* style.css */

/* Body styling */
body {
    font-family: 'Arial', sans-serif;
  }
  
  /* Header styling */
  .weather-header {
    background-color: #343a40;
  }
  
  /* Form styling */
  .form {
    margin-top: 20px;
  }
  
  .weather-search {
    width: 80%;
  }
  
  .search-button {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Weather data styling */
  .weather-details {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
  }
  
  /* List group styling */
  #history {
    margin-top: 20px;
  }
  